{% extends 'main/base.html' %} {% block title %}Upload Data File{% endblock %} 
{% load crispy_forms_tags %} 
{% block content %}
  <form class="mt-5" method="post" enctype="multipart/form-data">
    <h1>Upload Data File</h1>
    {% csrf_token %}{{ form|crispy}}
    <button type="submit" class="btn btn-success">Upload</button>
  </form>
  <div class="container mt-5">
    <h1 class="mb-4">Data Table Preview</h1>
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="mb-0">Time Uploaded: {{ data_table.created_at|default:"N/A" }}</h5>
        </div>
        <div class="card-body">
          <p><strong>Description:</strong> {{ data_table.description|default:"N/A" }}</p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Global Time (ns)</th>
                <th>Local Time (ms)</th>
                <th>Upstream Pressure (psia)</th>
                <th>Downstream Pressure (psia)</th>
                <th>Mass Flow Rate (kg/s)</th>
                <th>Tank Volume (%)</th>
              </tr>
            </thead>
            <tbody>
              {% for data_row in data_table.datarow_set.all %}
                <tr>
                  <td>{{ data_row.global_time_ns }}</td>
                  <td>{{ data_row.local_time_ms }}</td>
                  <td>{{ data_row.upstream_pressure_psia }}</td>
                  <td>{{ data_row.downstream_pressure_psia }}</td>
                  <td>{{ data_row.mass_flow_rate_kgs }}</td>
                  <td>{{ data_row.tank_volume_percent }}</td>
                </tr>
              {% empty %}
                <p>No data available.</p>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
{% endblock %}